{% extends 'base.html' %}
{% block title %}Confirm Borrow{% endblock %}
{% block content %}

<h2>Confirm Borrow</h2>

<div class="card p-3">
  <h4 class="mb-2">{{ book.title }}</h4>
  <p>Author: {{ book.author.display_name }}</p>
  <p>Available: {{ book.available_copies }} / {{ book.total_copies }}</p>

  <form method="post">
    {% csrf_token %}
    <button class="btn btn-success">Confirm Borrow</button>
    <a class="btn btn-outline-dark" href="{% url 'book_detail' book.id %}">Cancel</a>
  </form>
</div>

{% endblock %}